[user]
  name = ewendlick
  email = ewendlick@gmail.com
[push]
	default = current
[merge]
[credential]
	helper = cache --timeout=1314000
[color]
  diff = auto
  status = auto
[alias]
  alias gpu='git push -u origin $(git symbolic-ref --short HEAD)'
